{% extends "shared/base.html" %}
{% load static %}
{% load staticfiles %}


{% block body %}
<div class="row">
    <div class="col-md-4 col-xs-12">
        <div class="image">
            <img src="{{ MEDIA_URL }}{{ object.image }}" alt="{{ object.name }}" class="img-responsive">
        </div>
        <div class="caption">
            <h3><a href="product.html">{{ object.name }}</a></h3>
            <div class="description">{{ object.description }}</div>
        </div>
    </div>
    <div class="col-md-8 col-xs-12">
        <h3>Order</h3>
        <form class="form form-vertical">
            <h4>Shipping Info</h4>
            <div class="control-group">
              <label>Name</label>
              <div class="controls">
                <input type="text" class="form-control" placeholder="Enter Name">
              </div>
            </div>
            <div class="control-group">
              <label>Address</label>
              <div class="controls">
                <input type="text" class="form-control" placeholder="Street Address">
              </div>
            </div>
            <div class="control-group">
              <label>Town/City</label>
              <div class="controls">
                <input type="text" class="form-control" placeholder="Town/City">
              </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="control-group">
                      <label>Email Address</label>
                      <div class="controls">
                        <input type="text" class="form-control" placeholder="Email Address">
                      </div>
                    </div>
                </div><!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="control-group">
                      <label>Phone</label>
                      <div class="controls">
                        <input type="text" class="form-control" placeholder="Phone">
                      </div>
                    </div>
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
            <h4>Items</h4>
            <div class="row">
                <div class="col-lg-3">
                    <div class="control-group">
                      <label>X-Small</label>
                      <div class="controls">
                        <input type="text" class="form-control" placeholder="0">
                      </div>
                    </div>
                </div><!-- /.col-lg-6 -->
                <div class="col-lg-3">
                    <div class="control-group">
                      <label>Small</label>
                      <div class="controls">
                        <input type="text" class="form-control" placeholder="0">
                      </div>
                    </div>
                </div><!-- /.col-lg-6 -->
                <div class="col-lg-3">
                    <div class="control-group">
                      <label>Medium</label>
                      <div class="controls">
                        <input type="text" class="form-control" placeholder="0">
                      </div>
                    </div>
                </div><!-- /.col-lg-6 -->
                <div class="col-lg-3">
                    <div class="control-group">
                      <label>Large</label>
                      <div class="controls">
                        <input type="text" class="form-control" placeholder="0">
                      </div>
                    </div>
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
            <h4>Summary</h4>
            <div clas="row">
                <table class="table table-striped">
                    <thead>
                      <tr><th>Item</th><th></th><th>Total</th></tr>
                    </thead>
                    <tbody>
                      <tr><td>Daily UP Black Shoes - 12" x 2</td><td></td><td>$390.00</td></tr>
                      <tr><td></td><td class="subtitle">Shipping and handling fee</td><td>$20.00</td></tr>
                      <tr><td></td><td class="subtitle">Order total</td><td>$410.00</td></tr>
                    </tbody>
                  </table>
            </div>
            <h4>Payment Method</h4>
            <div class="row">
                <div class="accordion" id="accordion2">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <label class="radio inline" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" >
                                <input type="radio" checked="checked" id="radio1" name="rdo"  />
                                Bank Deposit
                            </label>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse in">
                          <div class="accordion-inner">
                            You have chosen to pay via Bank Deposit. Please take note of the following:
1. Your ordered items can only be held reserved for 3 working days at maximum. Please make your payment within these 3 days to complete your order.
2. Once paid, a photographed or a scanned copy of the deposit slip accompanied by your order number must be sent to payments@straightforward.ph for proof of payment.
3. Your item/s will be sent immediately after the proof of payment has been sent. Please allow 2-3 days for shipping.
4. Orders will be shipped via a third party courier. Straightforward Philippines bears the risk of transportation.
HOLIDAYS NOTE: For payments made after December 22, 2014, Straightforward will only be able to deliver your item/s on the 3rd of January 2015. As always, feel free to complete your orders when you can to win priority on your ordered items.
If you prefer to pay via Bank of the Philippine Islands (BPI), LBC, or Cebuana Lhuillier Pera Padala, please notify us by sending an e-mail to payments@straightforward.ph after you have placed your order so we can send you our details.
                          </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <label class="radio inline" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo" >
                                <input type="radio" id="radio2" name="rdo"  />
                                Credit Card<img src="images/payment-icon/paypal-small.png" alt="Credit Card Payment (Recommended)">
                            </label>
                        </div>
                        <div id="collapseTwo" class="accordion-body collapse">
                          <div class="accordion-inner">
                            Choosing this option will redirect you to Paypal to complete your order.
Your item/s will be sent immediately after the proof of payment has been sent. Please allow 2-3 days for shipping.
Orders will be shipped via third-party courier. Straightforward Clothing bears the risk of transportation.
HOLIDAYS NOTE: For payments made after December 22, 2014, Straightforward will only be able to deliver your item/s on the 3rd of January 2015. As always, feel free to complete your orders when you can to win priority on your ordered items.
Important: Please forward your online receipt from Paypal to payments@straightforward.ph once you have received it in your mail.
                          </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <label class="radio inline"  data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                                <input type="radio" id="radio3" name="rdo"  />
                                Pickup
                            </label>
                        </div>
                        <div id="collapseThree" class="accordion-body collapse">
                          <div class="accordion-inner">
                            You have chosen to pay via Bank Deposit. Please take note of the following:
1. Your ordered items can only be held reserved for 3 working days at maximum. Please make your payment within these 3 days to complete your order.
2. Once paid, a photographed or a scanned copy of the deposit slip accompanied by your order number must be sent to payments@straightforward.ph for proof of payment.
3. Your item/s will be sent immediately after the proof of payment has been sent. Please allow 2-3 days for shipping.
4. Orders will be shipped via a third party courier. Straightforward Philippines bears the risk of transportation.
HOLIDAYS NOTE: For payments made after December 22, 2014, Straightforward will only be able to deliver your item/s on the 3rd of January 2015. As always, feel free to complete your orders when you can to win priority on your ordered items.
If you prefer to pay via Bank of the Philippine Islands (BPI), LBC, or Cebuana Lhuillier Pera Padala, please notify us by sending an e-mail to payments@straightforward.ph after you have placed your order so we can send you our details.
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="control-group">
              <label></label>
              <div class="controls">
                <button type="submit" class="btn btn-primary">
                  Place Order
                </button>
              </div>
            </div>

        </form>
    </div>
</div>
{% endblock %}

{% block modal %}
{% endblock %}

{% block js_bottom %}
{% endblock %}
