<!-- Main Menu Starts -->
    <nav id="main-menu" class="navbar" role="navigation">
    <!-- Nav Header Starts -->
        <div class="navbar-header">
            <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-cat-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <i class="fa fa-bars"></i>
            </button>
        </div>
    <!-- Nav Header Ends -->
    <!-- Navbar Cat collapse Starts -->
        <div class="collapse navbar-collapse navbar-cat-collapse">
            <ul class="nav navbar-nav">
                {% for category in categories %}
                    {% if not category.parent %}
                        <li class="dropdown">
                            <a href="/{{ category.slug }}" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">
                                {{ category.name }}
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                {% for category2 in categories %}
                                    {% if category2.parent == category %}
                                        <li><a tabindex="-1" href="{{ category2.slug }}">{{ category2.name }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    <!-- Navbar Cat collapse Ends -->
    </nav>
<!-- Main Menu Ends -->
