<!-- Main Menu Starts -->
    <nav id="main-menu" class="navbar" role="navigation">
    <!-- Nav Header Starts -->
        <div class="navbar-header">
            <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-cat-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <i class="fa fa-bars"></i>
            </button>
        </div>
    <!-- Nav Header Ends -->
    <!-- Navbar Cat collapse Starts -->
        <div class="collapse navbar-collapse navbar-cat-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="category-list.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">
                        Aparrel
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a tabindex="-1" href="#">Tshirt</a></li>
                        <li><a tabindex="-1" href="#">Hoodies</a></li>
                        <li><a tabindex="-1" href="#">Tank Tops</a></li>
                    </ul>
                </li>
                <li><a href="category-list.html">Accessories</a></li>
                <li><a href="category-list.html">Etc</a></li>
            </ul>
        </div>
    <!-- Navbar Cat collapse Ends -->
    </nav>
<!-- Main Menu Ends -->