{% extends "shared/base.html" %}
{% load static %}
{% load staticfiles %}
{% load url from future %}
{% load bootstrap3 %}

{% block body_menu %}{% include "shared/menu.html" %}{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-8 col-xs-12">
        <h3>About us</h3>
        <p>Oblation Nation is the official merchandise brand of University of the Philippines Circle of Entrepreneurs for all UP-related merchandise. Oblation Nation was established on 2013 and is based in UP Diliman, College of Business Administration. For two years now, Oblation Nation has been known for its unique products such as Light it UP, Iskolar Hoodies, Iskolar than you baseball shirts, Drawstring Bags, etc. Oblation Nation continues to bring quality and unique products to its customers, not only in UP Diliman but also in all other UP campuses.
        </p>
    </div>
</div>
{% endblock %}

{% block modal %}
{% endblock %}

{% block js_bottom %}
{% endblock %}
