{% extends "shared/base.html" %}
{% load static %}
{% load staticfiles %}


{% block body %}
<!-- Slider Section Starts -->
    <div class="slider">
        <div id="main-carousel" class="carousel slide" data-ride="carousel">
        <!-- Wrapper For Slides Starts -->
            <div class="carousel-inner">
                {% for slide in object_list %}
                    <div class="item {% if forloop.first %}active{% endif %}">
                        <img src="{{ MEDIA_URL }}{{ slide.image }}" alt="{{ slide.name }}" class="img-responsive">
                    </div>
                {% endfor %}
            </div>
        <!-- Wrapper For Slides Ends -->
        <!-- Controls Starts -->
            <a class="left carousel-control" href="#main-carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#main-carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        <!-- Controls Ends -->
        </div>
    </div>
<!-- Slider Section Ends -->
<!-- 2 Column Banners Starts -->
    <div class="col2-banners">
        <ul class="row list-unstyled">
            {% for banner in banners %}
                {% if banner.description == '370px x 207px' %}
                    <li class="col-sm-4">
                        <img src="{{ MEDIA_URL }}{{ banner.image }}" alt="{{ banner.name }}" class="img-responsive">
                    </li>
                {% elif banner.description == '770px x 207px' %}
                    <li class="col-sm-8">
                        <img src="{{ MEDIA_URL }}{{ banner.image }}" alt="{{ banner.name }}" class="img-responsive">
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
<!-- 2 Column Banners Ends -->
<!-- Latest Products Starts -->
    <section class="product-carousel">
    <!-- Heading Starts -->
        <h2 class="product-head">Latest Products</h2>
    <!-- Heading Ends -->
    <!-- Products Row Starts -->
        <div class="row">
            <div class="col-xs-12">
            <!-- Product Carousel Starts -->
                <div id="owl-product" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                    {% for product in featured %}
                        <div class="item">
                            <div class="product-col">
                                <div class="image">
                                    <a href="/{{ product.category.slug }}/{{ product.slug }}/"><img src="{{ MEDIA_URL }}{{ product.image }}" alt="product" class="img-responsive"></a>
                                </div>
                                <div class="caption">
                                    <h4><a href="/{{ product.category.slug }}/{{ product.slug }}/">{{ product.name }}</a></h4>
                                    <div class="price">
                                        <span class="price-new">₱{{ product.unit_price }}</span>
                                    </div>
                                    <div class="cart-button button-group">
                                        <a href="/{{ product.category.slug }}/{{ product.slug }}/" class="btn btn-order btn-block">
                                            <i class="fa fa-shopping-cart"></i>
                                            {% if product.active %}
                                                Order Now
                                            {% else %}
                                                Out of Stock
                                            {% endif %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                <div class="owl-controls clickable"><div class="owl-buttons"><div class="owl-prev"><span class="glyphicon glyphicon-chevron-left"></span></div><div class="owl-next"><span class="glyphicon glyphicon-chevron-right"></span></div></div></div></div>
            <!-- Product Carousel Ends -->
            </div>
        </div>
    <!-- Products Row Ends -->
    </section>
<!-- Latest Products Ends -->
{% endblock %}

{% block modal %}
{% endblock %}

{% block js_bottom %}
{% endblock %}
