{% extends "shared/base.html" %}
{% load static %}
{% load staticfiles %}
{% load url from future %}
{% load bootstrap3 %}

{% block body_menu %}{% include "shared/menu.html" %}{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-8 col-xs-12">
        <h3>FAQ’s</h3>
        <h4>Ordering</h4>
        <ol>
        <li>All orders should be done online using the order form for each merchandise.</li>
        <li>An email will be sent to you to confirm your orders. Should you wish to change your orders, submit another form and indicate that it is a change of order.</li>
        <li>Once orders are confirmed, you are expected to pay the specific downpayment on the date specified. Failure to do so will forfeit your order.</li>
        <li>No orders will be accepted beyond the ordering period.</li>

        </ol>
    </div>
</div>
{% endblock %}

{% block modal %}
{% endblock %}

{% block js_bottom %}
{% endblock %}
