{% extends "shared/base.html" %}
{% load static %}
{% load staticfiles %}
{% load url from future %}
{% load bootstrap3 %}

{% block body_menu %}{% include "shared/menu.html" %}{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-8 col-xs-12">
        <h3>Good day!</h3>
        <p>This is to confirm that we have received your order.</p>
        <p>Please make sure to pay the downpayment/full payment so that we can process your order/s. Please also check  your <b>email</b> if the details of your order are correct. If there are any changes in your order, just send another response and note in the remarks section that it is a change of order.</p>
        <p>Thank you!</p>
    </div>
</div>
{% endblock %}

{% block modal %}
{% endblock %}

{% block js_bottom %}
{% endblock %}
