{% load static %}
{% load staticfiles %}

<!-- Footer Section Starts -->
        <footer id="footer-area">
        <!-- Footer Links Starts -->
            <div class="footer-links row">
            <!-- Information Links Starts -->
                <div class="col-md-2 col-sm-6">
                    <h5>Information</h5>
                    <ul>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="#">Delivery Information</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                    </ul>
                </div>
            <!-- Information Links Ends -->
            <!-- My Account Links Starts -->
                <div class="col-md-2 col-sm-6">
                    <h5>My Account</h5>
                    <ul>
                        <li><a href="#">My orders</a></li>
                        <li><a href="#">My merchandise returns</a></li>
                        <li><a href="#">My credit slips</a></li>
                        <li><a href="#">My addresses</a></li>
                        <li><a href="#">My personal info</a></li>
                    </ul>
                </div>
            <!-- My Account Links Ends -->
            <!-- Customer Service Links Starts -->
                <div class="col-md-2 col-sm-6">
                    <h5>Service</h5>
                    <ul>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Site Map</a></li>
                        <li><a href="#">Affiliates</a></li>
                        <li><a href="#">Specials</a></li>
                    </ul>
                </div>
            <!-- Customer Service Links Ends -->
            <!-- Follow Us Links Starts -->
                <div class="col-md-2 col-sm-6">
                    <h5>Follow Us</h5>
                    <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">YouTube</a></li>
                    </ul>
                </div>
            <!-- Follow Us Links Ends -->
            <!-- Contact Us Starts -->
                <div class="col-md-4 col-sm-12 last">
                    <h5>Contact Us</h5>
                    <ul>
                        <li>Oblation Nation</li>
                        <li>
                            Virata School of Business Adminisatration, University of the Philippines Diliman
                        </li>
                        <li>
                            Email: <a href="#">oblationnation@gmail.com</a>
                        </li>
                    </ul>
                    <h4 class="lead">
                        Tel: <span>(02) 567-9842</span>
                    </h4>
                </div>
            <!-- Contact Us Ends -->
            </div>
        <!-- Footer Links Ends -->
        </footer>
    <!-- Footer Section Ends -->
    </div>
<!-- Wrapper Ends -->
<!-- Copyright Area Starts -->
    <div class="copyright container">
        <div class="clearfix">
        <!-- Starts -->
            <p class="pull-left">
                © 2015 Oblation Nation. By <a href="http://upce.net">UP Circle of Entrepreneurs</a>
            </p>
        <!-- Ends -->
        </div>
    </div>
<!-- Copyright Area Ends -->
