{% load static %}
{% load staticfiles %}

<!-- Footer Section Starts -->
        <footer id="footer-area">
        <!-- Footer Links Starts -->
            <div class="footer-links row">
            <!-- Information Links Starts -->
                <div class="col-md-2 col-sm-6">
                    <h5>Information</h5>
                    <ul>
                        <li><a href="{% url 'about' %}">About Us</a></li>
                        <li><a href="{% url 'faqs' %}">FAQ's</a></li>
                        <li><a href="{% url 'terms' %}">Terms &amp; Conditions</a></li>
                    </ul>
                </div>
            <!-- Information Links Ends -->
                <div class="col-md-3 col-sm-6">
                    <h5>UP Circle of Entrepreneurs</h5>
                    <ul>
                        <li><a href="https://upce.net">upce.net</a></li>
                        <li><a href="https://www.facebook.com/upce1">Facebook</a></li>
                        <li><a href="https://twitter.com/OfficialUPCE">Twitter</a></li>
                    </ul>
                </div>
            <!-- Follow Us Links Starts -->
                <div class="col-md-3 col-sm-6">
                    <h5>Follow Us</h5>
                    <ul>
                        <li><a href="https://www.facebook.com/OblationNation">Facebook</a></li>
                        <li><a href="https://twitter.com/OfficialUPCE">Twitter</a></li>
                    </ul>
                </div>
            <!-- Follow Us Links Ends -->
            <!-- Contact Us Starts -->
                <div class="col-md-4 col-sm-12 last">
                    <h5>Contact Us</h5>
                    <ul>
                        <li>Oblation Nation</li>
                        <li>
                            Virata School of Business Adminisatration, University of the Philippines Diliman
                        </li>
                        <li>
                            Email: <a href="#">oblationnation@gmail.com</a>
                        </li>
                    </ul>
                    <h4 class="lead">
                        Tel: <span>(02) 567-9842</span>
                    </h4>
                </div>
            <!-- Contact Us Ends -->
            </div>
        <!-- Footer Links Ends -->
        </footer>
    <!-- Footer Section Ends -->
    </div>
<!-- Wrapper Ends -->
<!-- Copyright Area Starts -->
    <div class="copyright container">
        <div class="clearfix">
        <!-- Starts -->
            <p class="pull-left">
                © 2015 Oblation Nation. By <a href="http://upce.net">UP Circle of Entrepreneurs</a>
            </p>
        <!-- Ends -->
        </div>
    </div>
<!-- Copyright Area Ends -->
