{% load static %}
{% load staticfiles %}

<!-- Header Section Starts -->
    <header id="header-area">
    <!-- Nested Row Starts -->
        <div class="row">
        <!-- Logo Starts -->
            <div class="col-md-4 col-xs-12">
                <div id="logo">
                    <a href="/"><img src="{% static "images/logo.png" %}" title="Grocery Shoppe" alt="Grocery Shoppe" class="img-responsive"></a>
                </div>
            </div>
        <!-- Logo Ends -->
        <!-- Header Right Starts -->
            <div class="col-md-8 col-xs-12">
                <div class="row header-top">
                <!-- Header Links Starts -->
                    <div class="pull-right">
                        <div class="header-links">
                            <ul class="list-unstyled list-inline pull-left">
                                <li><a href="/">Home</a></li>
                                {% if user and not user.is_anonymous %}
                                    <li><a href="{% url 'auth:userprofile' %}">{{ user.get_full_name|default:user.username }}</a></li>
                                    <li><a href="{% url 'auth:logout' %}">Logout</a></li>
                                {% else %}
                                    <li><a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login/Register with Facebook</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                <!-- Header Links Ends -->
                </div>
                <div class="row">
                    <!-- Search Starts -->
                        <div class="pull-right">
                            <ul class="social-network social-circle">
                                <li><a href="https://www.facebook.com/OblationNation" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/OfficialUPCE" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    <!-- Search Ends -->
                </div>
            </div>
        <!-- Header Right Ends -->
        </div>
    <!-- Nested Row Ends -->
    </header>
<!-- Header Section Ends -->
